<div class='auth-info-links'>
  <% if student_signed_in? %>
    <p><%= current_student.name %></p>
    <p><%= link_to "Sign Out", destroy_student_session_path, method: :delete %></p>
  <% else %>
    <p><%= link_to "Sign In", new_student_session_path %></p>
    <p><%= link_to "Sign Up", new_student_registration_path %></p>
  <% end %>
</div>
<div class="container">
  <div class="jumbotron">
    <%if @periods.include? @today%>
    <button class="btn btn-success" id="present">Mark me present</button>
    <%else%>
    <button disabled class="btn btn-success" id="present">Mark me present</button>
    <%end%>

  <button class="btn btn-info" id="present">View my attendance record</button>
  </div>
</div>

<script>
    console.log('Script running');
    $('#present').click(function () {

      $(this).prop('disabled', true);

    });
  </script>
