<div class='auth-info-links'>
  <% if teacher_signed_in? %>
    <p><%= current_teacher.name %></p>
    <p><%= link_to "Sign Out", destroy_teacher_session_path, method: :delete %></p>
  <% else %>
    <p><%= link_to "Sign In", new_teacher_session_path %></p>
    <p><%= link_to "Sign Up", new_teacher_registration_path %></p>
  <% end %>
</div>
<h1>Home#teacher</h1>
<p>Find me in app/views/home/teacher.html.erb</p>
